#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>


&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {

    behaviors {
            hm: homerow_mod {
                    compatible = "zmk,behavior-hold-tap";
                    label = "HM";
                    #binding-cells = <2>;
                    flavor = "tap-preferred";
                    tapping-term-ms = <170>;   // prueba 160–180
                    quick-tap-ms    = <155>;   // ~15 ms menos que tapping-term
                    bindings = <&kp>, <&kp>;   // hold, tap
            };

                hmsh: homerow_mod_short {
                    compatible = "zmk,behavior-hold-tap";
                    label = "HMSH";
                    #binding-cells = <2>;
                    flavor = "tap-preferred";
                    tapping-term-ms = <155>;
                    quick-tap-ms    = <130>;
                    bindings = <&kp>, <&kp>;
                };

                hm_right: homerow_mod_right {
                    compatible = "zmk,behavior-hold-tap";
                    label = "HM_R";
                    #binding-cells = <2>;
                    flavor = "balanced";      // o "tap-preferred" si quieres menos holds accidentales
                    tapping-term-ms = <190>;  // prueba 185–200 según tu mano/dedos
                    quick-tap-ms    = <165>;  // ~15–25 ms por debajo de tapping-term
                    bindings = <&kp>, <&kp>;  // hold, tap
                };

                hm_right: homerow_mod_right {
                    compatible = "zmk,behavior-hold-tap";
                    label = "HM_R";
                    #binding-cells = <2>;
                    flavor = "balanced";      // o "tap-preferred" si quieres menos holds accidentales
                    tapping-term-ms = <210>;  // prueba 185–200 según tu mano/dedos
                    quick-tap-ms    = <180>;  // ~15–25 ms por debajo de tapping-term
                    bindings = <&kp>, <&kp>;  // hold, tap
                };

                td_dc: td_v_cot_comma {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TD_DC";
                    #binding-cells = <0>;
                    tapping-term-ms = <175>;
                    bindings = <&hm LBRC B>, <&kp COMMA>;
                };


    };

    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
 &hm GRAVE Q            &hm APOS W                &hm LC(LS(N0)) F          &hm LC(LS(LALT)) P      &hm ESC G     &none           &none       &hm LG(R) J      &hm PRCNT L          &hm LG(F) U                     &hm AMPS Y                     &hm LS(SEMI)  SEMI
 &kp A                  &hm LALT S                &hm LCTRL R               &hm_s LGUI T            &hm LPAR D    &none           &none       &hm LBKT M       &hm_right LGUI N     &hm_right LCTRL E               &hm_right LALT I               &hm LG(S) O
 &hmsh LSHFT Z          &hm LG(X) X               &hm  LG(C) C              &hm LG(V) V             &td_dc        &none           &none       &hm LT K         &mkp LCLK            &td_cursor                      &hm_right PLUS H               &hmsh RSHFT FSLH
 &none                  &none                     &none                     &mt LG(TAB) TAB         &lt 3 DOT     &none           &none       &lt 1 SPACE      &lt 2 RETURN         &kp BACKSPACE                   &none                           &none
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans    &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans     &trans    &trans
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp HASH      &kp DOLLAR    &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp GRAVE         &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp LBKT       &kp RBKT   &kp F1         &kp F2        &kp F3                &kp F4                 &kp DEL
&kp LEFT_CONTROL  &kp NUMBER_5     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &none          &kp BSLH   &kp F5         &kp F6        &kp F7                &kp F8                 &kp PAGE_UP
&kp LSHFT         &kp NUMBER_9     &kp NUMBER_0  &kp MINUS     &kp EQUAL     &none          &trans     &kp F9         &kp F10       &kp F11               &kp F12                &kp PAGE_DOWN
                                                 &kp LEFT_WIN  &kp SPACE     &trans         &kp ENTER  &kp BACKSPACE
                                                               &none         &none          &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F12           &kp F1      &kp F2      &kp F3         &kp F4         &kp F5          &kp F6        &kp F7         &kp F8    &kp F9     &kp F10  &kp F11
&kp LS(GRAVE)     &kp LS(N1)  &kp LS(N2)  &kp LS(N3)     &kp LS(N4)     &kp LS(LBKT)    &kp LS(RBKT)  &none          &trans    &none      &none    &trans
&kp LEFT_CONTROL  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)     &kp LS(N8)     &none           &kp LS(BSLH)  &trans         &kp UP    &trans     &trans   &trans
&kp LEFT_SHIFT    &kp LS(N9)  &kp LS(N0)  &kp LS(MINUS)  &kp LS(EQUAL)  &none           &none         &kp LEFT       &kp DOWN  &kp RIGHT  &none    &trans
                                          &kp LEFT_ALT   &kp SPACE      &kp ENTER       &trans        &kp BACKSPACE
                                                         &trans         &trans          &none
            >;
        };

        Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;

            trackball-bindings = <&tsl>;//滚轮层
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;

            trackball-bindings = <&tmv_fine>;//精准指针层
        };
    };
};
